## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Gat,IL,77.00,few clouds,31.61,34.76,OlusHome
1,5,Souillac,MU,75.20,shower rain,-20.52,57.52,Bils' Villa
2,12,Vallenar,CL,83.53,clear sky,-28.57,-70.76,Humacao Bed & Breakfast
3,22,Corn Island,NI,83.35,overcast clouds,12.17,-83.04,Big Fish Guest House
4,28,Denpasar,ID,78.80,few clouds,-8.65,115.22,ASTON Denpasar Hotel & Convention Center

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Puri"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Puri"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Yarada"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Yanam"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Narasapur"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
154,619,Puri,IN,77.0,haze,19.8,85.85,OYO 1577 Hotel Shree Hari Grand

In [16]:
import numpy as np

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(19.8, 85.85)
(19.8, 85.85)
(17.65, 83.27)
(16.73, 82.22)
(16.45, 81.67)

# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
itinerary_layer = gmaps.directions_layer(
start, end, waypoints=[stop1, stop2, stop3],
                                           travel_mode=["DRIVING", "BICYCLING", "WALKING"])
fig.add_layer(itinerary_layer)
fig

In [18]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs
# and stop1,stop2, and stop3 as waypoints. THe driving mode should be "Driving", "Bicycling" or "Walking"
fig = gmaps.figure()
itinerary_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(itinerary_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,619,Puri,IN,77.00,haze,19.80,85.85,OYO 1577 Hotel Shree Hari Grand
1,574,Yarada,IN,78.80,mist,17.65,83.27,"D-26/2, Dolphin Hill,"
2,647,Yanam,IN,75.36,scattered clouds,16.73,82.22,The Regency Hotel
3,587,Narasapur,IN,76.73,clear sky,16.45,81.67,TCI Xps

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

     Lat    Lng
0  19.80  85.85
1  17.65  83.27
2  16.73  82.22
3  16.45  81.67

In [21]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))