In [ ]:
# Import Dependacnies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved in part 1 into a DF
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2020-10-24 19:05:12,-0.74,-90.35,78.80,69,40,17.22
1,1,Port Lincoln,AU,2020-10-24 19:05:13,-34.73,135.87,52.79,71,91,14.50
2,2,Groton,US,2020-10-24 19:05:13,41.35,-72.08,64.99,88,90,6.93
3,3,Fairbanks,US,2020-10-24 19:05:13,64.84,-147.72,25.00,85,75,3.04
4,4,Mataura,NZ,2020-10-24 19:05:13,-46.19,168.86,66.00,58,100,14.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heat map of percent humidity
location = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heat map of percent cloudiness
location = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heat map of wind speed
location = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum & maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2020-10-24 19:05:12,-0.74,-90.35,78.80,69,40,17.22
5,5,Wilmington,US,2020-10-24 19:05:13,34.23,-77.94,82.40,45,1,5.77
6,6,Souillac,MU,2020-10-24 19:05:14,-20.52,57.52,75.20,73,40,13.87
12,12,Caravelas,BR,2020-10-24 19:05:15,-17.71,-39.25,78.62,77,20,9.89
17,17,Mahebourg,MU,2020-10-24 19:05:17,-20.41,57.70,75.20,73,40,13.87
22,22,Shahpura,IN,2020-10-24 19:05:18,27.38,75.97,75.20,29,0,4.59
25,25,Butaritari,KI,2020-10-24 19:05:18,3.07,172.79,82.15,67,56,7.72
29,29,Kapaa,US,2020-10-24 19:05:19,22.08,-159.32,78.01,83,20,5.82
33,33,Amahai,ID,2020-10-24 19:05:20,-3.33,128.92,77.61,82,100,2.28
41,41,Tubuala,PA,2020-10-24 19:05:23,9.52,-79.03,82.99,83,40,10.29

In [11]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.notnull().sum()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, Max Temp, & Coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0   Puerto Ayora      EC     78.80  -0.74  -90.35
5     Wilmington      US     82.40  34.23  -77.94
6       Souillac      MU     75.20 -20.52   57.52
12     Caravelas      BR     78.62 -17.71  -39.25
17     Mahebourg      MU     75.20 -20.41   57.70
22      Shahpura      IN     75.20  27.38   75.97
25    Butaritari      KI     82.15   3.07  172.79
29         Kapaa      US     78.01  22.08 -159.32
33        Amahai      ID     77.61  -3.33  128.92
41       Tubuala      PA     82.99   9.52  -79.03

In [15]:
# Set the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,78.80,-0.74,-90.35,Finch Bay Galapagos Hotel
5,Wilmington,US,82.40,34.23,-77.94,"Hotel Ballast Wilmington, Tapestry Collection ..."
6,Souillac,MU,75.20,-20.52,57.52,Bils' Villa
12,Caravelas,BR,78.62,-17.71,-39.25,Pousada dos Navegantes
17,Mahebourg,MU,75.20,-20.41,57.70,Shandrani Beachcomber Resort & Spa
22,Shahpura,IN,75.20,27.38,75.97,Shahpura Haveli
25,Butaritari,KI,82.15,3.07,172.79,Isles Sunset Lodge
29,Kapaa,US,78.01,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
33,Amahai,ID,77.61,-3.33,128.92,Peternakan Ayam Bangkok Manisso
41,Tubuala,PA,82.99,9.52,-79.03,

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))